.projects {
  display: flex;
  flex-direction: column;
}

.titleProjects {
  font-size: 40px;
  margin: auto;
  color: #fff;
  text-shadow: -3px 3px 3px #1f91aab9, 2px 2px 3px #21b3d4, 1px 1px 1px #21b3d4;
}

.projectsSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  gap: 20px;
  margin: 10px 0 40px;
  justify-content: center;
}

@media (max-width: 600px) {
  .titleProjects {
    font-size: 35px;
  }
  .projectsSection {
    grid-template-columns: 100%;
    gap: 50px;
    padding: 0px;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
  }
}
