.tools {
  display: flex;
  flex-direction: column;
}

.titleTools {
  font-size: 45px;
  margin: auto;
  color: #fff;
  text-shadow: -3px 3px 3px #1f91aab9, 2px 2px 3px #21b3d4, 1px 1px 1px #21b3d4;
}

.toolsSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  margin: 10px 0;
  justify-content: center;
}

@media (max-width: 600px) {
  .titleTools {
    font-size: 40px;
  }

  .toolsSection {
    grid-template-columns: 100%;
    gap: 20px;
    padding: 0px;
    justify-content: center;
    margin: auto;
  }
}
