.home {
  background: #262626;
  color: #fff;
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.profilePhoto {
  border-radius: 100%;
  width: 300px;
  box-shadow: -3px 3px 3px 4px #09616871, 2px 2px 3px #21b2d3a2;
}

.infoContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 60px;
  text-shadow: -3px 3px 3px #1f91aab9, 2px 2px 3px #21b3d4, 1px 1px 1px #21b3d4;
}

.abautMe {
  font-size: 35px;
  display: inline-block;
  width: 70%;
  margin: 2px 0 10px;
}

.btnDowload {
  display: inline-block;
  width: 250px;
  text-decoration: none;
  text-align: center;
  transition: all linear 0.2s;
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #21b3d3;
  border-radius: 50px;
  padding: 15px 15px;
  box-shadow: -3px 3px 10px #ffffff44, 2px 1px 8px #21b2d36b;
}

.btnDowload:hover {
  transition: all linear 0.3s;
  background: #03788d9c;
  color: rgb(255, 255, 255);
}

.btnDowload:active {
  box-shadow: 0px 0px #ffffff44;
}

@media (max-width: 992px) {
  .home {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .profilePhoto {
    margin: auto;
  }

  .name {
    font-size: 55px;
  }

  .abautMe {
    font-size: 25px;
    width: 75%;
  }

  .btnDowload {
    margin: 0;
    width: 250px;
  }
}
