.headerContainer {
  position: fixed;
  height: 80px;
  width: 85%;
  margin: -60px -18px;
  display: flex;
  justify-content: end;
  border-radius: 0 0 20px 20px;
  background: #2e2e2e;
  z-index: 100;
}

.navContainer {
  display: flex;
}

.buttonToggle {
  display: none;
}

.links {
  margin: auto;
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px #21b3d480, 1px 1px rgba(33, 179, 212, 0.5);
}

.link {
  text-decoration: none;
  color: #ffffff;
  margin: 0 7px;
}

.languages {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.languages button {
  margin: 0 5px;
  background: none;
  border: none;
  border-radius: 100%;
  padding: 0;
}

.link:hover {
  transition: all linear 0.2s;
  cursor: pointer;
  color: #21b3d4;
}

@media (max-width: 767px) {
  .hidden {
    display: none;
  }

  .navContainer {
    position: fixed;
    width: 85%;
    height: 110%;
    z-index: 100;
    background: #2e2e2e;
    margin: auto;
    transition: all 5s;
    transform: translate(0, 0, 1000px, 0);
  }

  .links {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .links li {
    padding: 10px 0;
  }

  .link {
    margin: 0 15px;
    font-size: 1.8rem;
  }

  .buttonToggle {
    display: inline-block;
    cursor: pointer;
    margin: auto 20px;
  }

  .line {
    box-shadow: -1px 2px 2px #21b3d4;
    width: 25px;
    height: 5px;
    margin: 4px 0;
    border-radius: 50px;
    background: rgb(255, 255, 255);
  }
}
