<<<<<<< HEAD
<<<<<<< HEAD
html {
  background: #262626;
}

#root {
  background: #262626;
}
=======
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
=======
html {
  background: #262626;
>>>>>>> 952ab23 (fixed errors)
}

#root {
  background: #262626;
}
>>>>>>> ddec1e3 (Initialize project using Create React App)
